<h2>Invoice <%= @invoice.id %></h2>
<br>
<div id="invoice-information">
  <p>Status: <%= @invoice.status %></p>
  <p>Date Created: <%= @invoice.date_created %></p>
  <p>Customer Name: <%= @invoice.customer_name %></p>
</div>
<br>
<div id="invoice_items-information">
  <h3>Invoice Items</h3>
  <br>
  <% @invoice.invoice_items.each do |invoice_item| %>
  <div id="invoice_item-<%= invoice_item.id %>">
    <h4><%= invoice_item.item_name %><h4>
    <p>Quantity: <%= invoice_item.quantity %></p>
    <p>Unit Purchase Price: <%= invoice_item.unit_price %></p>
    <p>Status: <%= invoice_item.status %></p>
  </div>
  <% end %>
</div>
<br>
<div id="total_revenue">
  <p><strong>Total Revenue:</strong> <%= @invoice.total_revenue %></p>
</div>