<h1> Admin Merchants Index </h1>
<br>
<p><%= link_to "Create New Merchant", "/admin/merchants/new" %></p>
<br>
<div id='top_5_merchants'>
  <h2> Top 5 Merchants by Revenue </h2>
  <br>
  <% @top_5_merchants.each do |merchant| %>
    <div id='top_merchant-<%= merchant.id %>'>
      <h3><%= link_to "#{merchant.name}", "/admin/merchants/#{merchant.id}" %></h3>
      <p> Total Revenue: <%= merchant.revenue %></p><br>
      <p> Top selling date for <%= merchant.name %> was <%= merchant.best_day %>. </p>
    </div>
  <% end %>
</div>
<br>
<div id='enabled_merchants'>
  <h2> Enabled Merchants </h2>
  <br>
  <% @enabled_merchants.each do |merchant| %>
    <div id='merchant-<%= merchant.id %>'>
      <h3><%= link_to "#{merchant.name}", "/admin/merchants/#{merchant.id}" %></h3>
      <p>Status: <%= merchant.enabled_or_disabled %><p>
      <%= button_to "#{merchant.button_text}", "/admin/merchants/#{merchant.id}?button=#{merchant.button_text}", method: :patch %>
      <br>
    </div>
  <% end %>
</div>
<br>
<div id='disabled_merchants'>
  <h2> Disabled Merchants </h2>
  <br>
  <% @disabled_merchants.each do |merchant| %>
    <div id='merchant-<%= merchant.id %>'>
      <h3><%= link_to "#{merchant.name}", "/admin/merchants/#{merchant.id}" %></h3>
      <p>Status: <%= merchant.enabled_or_disabled %><p>
      <%= button_to "#{merchant.button_text}", "/admin/merchants/#{merchant.id}?button=#{merchant.button_text}", method: :patch %>
      <br>
    </div>
  <% end %>
</div>