<h1>Invoices for <%= @merchant.name %></h1>

<ul>
  <% @merchant.invoices.each do |invoice| %>
    <li> Invoice ID: <%= link_to "Invoice ID: #{invoice.id}", merchant_invoice_path(merchant_id: @merchant.id, invoice_id: invoice.id) %> </li>
    <li> Invoice Status: <%= invoice.status%> </li>
    <li> Creation Date: <%= invoice.date_created%> </li>
    <li> Customer Name: <%= invoice.customer_name%> </li>
  <% end %>
</ul>
