<h2> <%= @merchant.name%> </h2>
<div id="top_five_customers">
<h2>Top 5 Customers</h2>
<ul>
  <% @merchant.top_five_customers.each do |customer| %>
    <li>
      <%= customer.customer_name %> (<%= customer.transaction_count %> Transactions)
    </li>
  <% end %>
</ul>
</div>

<div id="items_ready_to_ship">
<h2> Items Ready to Ship </h2>
  <ul>
    <% @merchant.items_ready_to_ship.each do |item| %>
      <li>
        <p>[<%= item.format_created_at %>] <%= item.name %> - Invoice ID: <%= link_to "#{item.invoice_id}", merchant_invoice_path(merchant_id: @merchant.id, invoice_id: item.invoice_id)%>  </p>
      </li>
    <% end %>
  </ul>
</div>

<p><%= link_to "#{@merchant.name} Items", "/merchants/#{@merchant.id}/items" %></p>
<p><%= link_to "#{@merchant.name} Invoices", "/merchants/#{@merchant.id}/invoices" %></p>


