<h2> <%= @merchant.name%> </h2>
<div id="top_five_customers">
<h2>Top 5 Customers</h2>
<ul>
  <% @merchant.top_five_customers.each do |customer| %>
    <li>
      <%= customer.customer_name %>(<%= customer.transaction_count %> Transactions)
    </li>
  <% end %>
</ul>
</div>

<p><%= link_to "#{@merchant.name} Items", "/merchants/#{@merchant.id}/items" %></p>
<p><%= link_to "#{@merchant.name} Invoices", "/merchants/#{@merchant.id}/invoices" %></p>