<h3><%= @merchant.name %>'s Discounts</h3>
<div id="discounts">
  <%= @merchant.discounts.each do |discount| %>
    <div id="discount-<%= discount.id %>">
      <h4><%= link_to "#{discount.event_name}", "/merchants/#{@merchant.id}/discounts/#{discount.id}" %></h4>
      <p><strong>Percentage Discount:</strong> <%= discount.percentage_discount %></p>
      <p><strong>Quantity Threshold:</strong> <%= discount.quantity_threshold %></p>
      <%= button_to "Delete Discount", "/merchants/#{@merchant.id}/discounts/#{discount.id}", method: :delete, data: {turbo: false} %>
    </div>
  <% end %>
</div>
<p><%= link_to "Create a New Discount", "/merchants/#{@merchant.id}/discounts/new" %></p>