<h1><%= "#{@merchant.name}" %></h1>

<section id="5_most_populer">
<h2>5 most popular items</h2>
    <% @merchant.top_5_popular_items.each do |item| %>
      <%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}" %> <br>
      Total Revenue: $<%= "#{item.revenue}"%><br>
      Top selling date for: <%= "#{item.name}"%><br>
      <%= "#{item.best_day}"%><br>
    <% end %>
    
</section>
<section class="enabled_items">
<h2>Enabled Items</h2>
  <ol>
    <% @merchant.enabled_items.each do |item| %>
    <div id = "<%= item.id %>">
      <p><%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}" %>
  <%= button_to "Disable", "/merchants/#{@merchant.id}/items/#{item.id}?button_update=true", method: :patch, id: "#{item.id}_button" %></p> 
  </div>
    <% end %>
  </ol>
</section>

<section class="disabled_items">
<h2>Disabled Items</h2>
  <ol>
    <% @merchant.disabled_items.each do |item| %>
    <div id = '<%=item.id%>'>
      <p><%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}" %>
      <%= button_to "Enable", "/merchants/#{@merchant.id}/items/#{item.id}?button_update=true", method: :patch, id: "#{item.id}_button" %></p> 
    </div>
    <% end %>
  </ol>
</section>

<%= link_to "Create New Item", "/merchants/#{@merchant.id}/items/new", method: :get %>